@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* @import "~../node_modules/bootstrap/dist/css/bootstrap.css"; */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 'Noto Sans', sans-serif ;
}